@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root{
    --blue: #0A2342;
    --teal: #2CA58D;
    --green: #84BC9C;
    --gray: #718686;
    --cream: #FFFDF7;
    --peach: #FFEDDB;
    --purple: #5D4E60;
    --yellow: #ffff00;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: var(--cream);
    color: var(--blue);
}

/*global*/
/*section padding*/
.section-padding {
    padding: 3rem 0;
}
.flexbox-parent {
    max-width: 95vw;
    margin: 3rem auto;
}

@media screen and (min-width:768px) {
    .flexbox-parent-medium {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

/*item margin*/
/*section title*/
.section-title-container {
    display: flex;
    padding: 2rem 1.5rem;
}

.section-title-icon {
    font-size: 4rem;
    color: var(--teal);
    margin-right: 1rem;
}

.section-title-text {
    line-height: 1.5;
    border-left: 0.3rem solid var(--blue);
    padding-left: 1rem;
}

.section-title-name {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.section-title-info {
    color: var(--gray);
}
/*end of global*/

/*preloader*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/*header*/
.header {
    min-height: 100vh;
    display: flex;
    align-items: center;
/*    for the rest of the elements*/
    position: relative;
}

@media screen and (max-width:768px) {
    .header {
        background: url('../video/snow_screengrab_white.png')center/cover fixed no-repeat;
    }
}

.banner {
    margin-left: 8rem;
    border-left: 0.5rem solid var(--teal); 
    z-index: 1;
}

.banner-title {
    font-size: 3rem;
    letter-spacing: 0.25 rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: var(--blue); 
    
}

.banner-title-name{
    color: var(--teal);
    font-size: 4rem;
    font-style: italic;
    text-decoration: underline;
}

/*video*/

.video-container {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
/*    z-index: 3;*/
}

/*navbar*/
.nav-btn {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    color: var(--teal);
    z-index: 3;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulse{
    0%{
       transform: scale(1.0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1.0);
    }
}
.nav {
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.53);
    z-index: 4;
    width: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}

.nav-links {
    list-style-type: none;  
}

.nav-single-link {
    display: block;
    text-decoration: none;
    color: var(--blue);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
}

.nav-single-link:hover {
    background: var(--blue);
    color: var(--yellow);
    padding-left: 1.5rem;
}

.nav-show {
    width: 7.5rem;
}

/*social icons*/
.social-icons {
    position: absolute;
    bottom: 4%;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    justify-content: space-around;
}

.social-icon {
    text-decoration: none;
    font-size: 2rem;
    transition: all 1s ease-out;
}

.social-icon:hover {
    color: var(--teal)
}

.social-icon-fb {
    color: #3b5998;
}

.social-icon-tw {
    color: #1da1f2;
}

.social-icon-ig {
    color: #833AB4;
}

/*video btn*/
.video-btn-container {
    display: none;
}

@media screen and (min-width:768px) {
    .video-btn-container {
        display: block;
        position: absolute;
        bottom: 5%;
        left: 5%;
        z-index: 3;
    }
}

.video-btn {
    width: 5rem;
    background: var(--yellow);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.video-switch-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 0.5rem;
    background: var(--teal);
    transition: all 0.3 ease;
}

.btn-slide {
    left:50%;
}

/*services section*/
.service {
    display: flex;
    margin: 1rem 0;
}

.service-icon {
    font-size: 4rem;
    align-self: center;
    padding: 0.5rem;
    color: var(--teal);
    border-radius: 0.5rem;
    transition: all 0.2s linear;
}

.service:hover .service-icon {
    background: var(--green);
    color: var(--cream);
    
}

.service-text {
    padding: 0.5rem;
}

.service-name {
    text-transform: capitalize;
}


.service-info {
    color: var(--gray);
    width: 70%;
}

/*grid for servcie section*/
@media screen and (min-width:768px) {
    .service {
        flex: 0 0 calc(50% - 0.5rem);
    }
}

/*grid for servcie section*/
@media screen and (min-width:992px) {
    .service {
        flex: 0 0 calc(100% / 3);
    }
}
























